.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 98vh;
    width: 98vw;
    /* background-color: green; */
    
}
.caja{
    width: 6vw;
    height: 6vh;
     border: 1px solid black; 
    box-sizing: border-box;
    background-color: lightblue;
}
.caja:hover{
    background-color: green;
}